/* Write your global styles here, in PostCSS syntax */
@import 'filepond/dist/filepond.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

